@model La_Hermandad.Models.Comics

@{
    /**/

    ViewBag.Title = "Details";
}


<hr />

<div class="row" >
   
                <div class="col-md-3">
                 
                        <img src="@Url.Action("convertirImagen", "Comics", new {IdComics = Model.IdComics})" />
                        <div>
                            @Html.DisplayFor(modelItem => Model.Titulo)
                        </div>
                    
                
                </div>
            
    </div>

<div class="row">
    @foreach (var item in Model.Pages)
    {

        <div class="col-md-3">
            <img src="@Url.Action("PaginasComics","Comics", new { IdPagina = item.IdPaginaC })" alt="imagen" />
        </div>

    }
</div>

<hr />
<p>
    <button class="btn btn-warning">@Html.ActionLink("Edit", "Edit", new { id = Model.IdComics })</button>
    <button class="btn btn-default">@Html.ActionLink("Back to List", "Index")</button>
</p>
